<div class="event-card-base" id="event-<%= event.id %>"
    data-event-categories="<%= event.category_ids_as_class %>"
    data-event-time-categories="<%= event.date_class_array %>">

    <div class="event-card-flyer-hero"
         style="background-image: url(
           <%= dropbox_url_for(event.flyer_url) %>
         );">
      <div class="event-card-shim">
        <p class="text-event-title">
          <%= event.name %>
        </p>
      </div>
    </div>

    <div class="event-card-label-strip">
      <!-- event info -->
      <div class="event-card-info-label">
        <p class="text-event-subtitle">
          <%= event.formatted_start_and_end_times %>
          at <%= event.location %>
        </p>
      </div>

      <!-- categories -->
      <div class="event-card-categories-container">
        <% event.categories.each do |c| %>
          <div class="event-card-category-label"><%= c.name %></div>
        <% end %>
      </div>
  </div>

</div>

<!-- hidden event modal for when user clicks on an event card -->
<div class="event-modal-base" id="modal-event-<%= event.id %>">
  <div class="event-modal-hero-image" 
       style="background-image: url(<%= dropbox_url_for(event.flyer_url)%>);">
  </div>
  <div class="event-modal-info-base">
    <div class="event-modal-info-label">
      <p class="event-modal-text-heading" id="event-name">
        <%= event.name %>
      </p>
      <p class="event-modal-text-muted" id="event-times">
        <%= event.event_start.strftime('%B %e %l:%M%P')%> -
        <%= event.event_end.strftime('%B %e %l:%M%P')%>
      </p>
      <p class="event-modal-text-muted" id="event-location">
        <%= event.location %>
      </p>
      <p class="event-modal-text-muted" id="event-organization">
        <%= event.organization.name %>
      </p>
      <p class="event-modal-text-muted" id="event-url">
        <a href="<%= event.url %>"><%= event.url %></a>
      </p>

      <!--facebook "like" button -->
      <div class="fb-like" style="margin-left: 16px"
           data-href="<%= event.url %>"
           data-layout="standard" data-action="like" data-show-faces="true"
           data-share="true"></div>

      <p class="event-modal-text-regular" id="event-description">
        <%= event.description %>
      </p>
    </div>
  </div>
</div>

