<%= form_for @event, :html => { :multipart => true } do |f| %>
<div class="core-fixed-height-base-sheet core-base-sheet-light-theme">
  <div class="event-form-input-group">
    <% if @event.errors.any? %>
    <div class="paper-toast-container">
      <!-- todo: remind me to turn the ul into a .each loop that
           makes a separate paper toast for each error message, not
           a list of errors all on one paper toast.
      -->
      <ul>
        <% @event.create_event_errors_hash.each do |msg, msgstr| %>
          <li class="paper-toast-base" id="dismiss-<%= msg %>">
            <div class="paper-toast-message">
              <%= msgstr %>
            </div>
            <button type="button"
                    class="paper-flat-button 
                           create-event-errors-dismiss-button"
                    data-dismiss-target-id="dismiss-<%= msg %>">
              Dismiss
            </button>
          </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <!-- flyer upload preview -->
    <div class="event-form-flyer-preview">
      <img src="<%= dropbox_url_for(@event.flyer_url) %>" 
           class="event-form-image-preview" alt="flyer preview">
    </div>

    <div class="core-input-and-label-pair flyer-upload">
      <div class="paper-tooltip" id="tooltip-flyer-upload">
        <p class="paper-tooltip-text">
          Upload a 512 x 288 image
        </p>
      </div>
      <%= label_tag(
            :flyer_url,
            'Flyer/Poster',
            class: "core-form-file-input-label",
            style: "font-family: 'Roboto', sans-serif;"
          ) %>
      <%= f.file_field :flyer_url %>
    </div>
    <!-- Category Selection -->
    <% Category.all().each do |c| %>
        <div class="core-checkbox-and-label-pair">
          <div class="checkbox-wrapper-for-ripple">
            <%= check_box_tag(
                "event[categories][]",
                c.name,
                @event.categories.exists?(:name => c.name),
                {:class => "core-checkbox", :id => c.name} 
            )%>
          </div>
          <%= label_tag c.name, c.name, class: "core-checkbox-label" %>
      </div>
    <% end %>
  </div>

  <div class="core-right-primary-raised-sheet">
    <div class="event-form-raised-input-group">
      <!-- Event info --> 
      <div class="core-text-field-and-label-pair">
        <%= f.label :name, class: "core-floating-label" %>
        <%= f.text_field :name, class: "core-form-text-input" %>
      </div>

      <div class="core-text-field-and-label-pair">
        <%= f.label :location, class: "core-floating-label" %>
        <%= f.text_field :location, class: "core-form-text-input" %>
      </div>

      <div class="core-date-and-label-pair">
        <%= f.label(
              :event_start,
              "Start time (EST)",
              class: "core-form-time-label"
        ) %>
        <%= f.datetime_select :event_start, {}, class: "core-date-select" %>
      </div>

      <div class="core-date-and-label-pair">
        <%= f.label(
              :event_end,
              "End time (EST)",
              class: "core-form-time-label"
        )%>
        <%= f.datetime_select :event_end, {}, class: "core-date-select" %>
      </div>

      <div class="core-text-field-and-label-pair">
        <%= f.label :summary, class: "core-floating-textarea-label" %>
        <%= f.text_area :summary, {
            :rows => 1,
            :class => "core-form-textarea"
        } %>
      </div>

      <div class="core-text-field-and-label-pair">
        <%= f.label :description, class: "core-floating-textarea-label" %>
        <%= f.text_area :description, {
            :rows => 1,
            :class => "core-form-textarea" 
        } %>
      </div>

      <div class="core-text-field-and-label-pair">
        <%= f.label :url, class: "core-floating-label" %>
        <%= f.text_field :url, class: "core-form-text-input" %>
      </div>

      <div class="core-input-and-label-pair">
        <%= f.label :organization, class: "core-form-small-label" %>
        <%= f.collection_select(
              :organization_id,
              current_user.organizations,
              :id,
              :name,
              {},
              class: "core-form-select"
            ) %>
      </div>
    </div> <!-- /end of event-form-raised-input-group -->
    <div class="event-form-action-group">
      <%= f.submit(nil, class: "paper-raised-button float-right") %>
    </div>
  <% end %>
  </div> <!-- /end of core-primary-raised-sheet -->
</div>
