<%= form_for @event, :html => { :multipart => true } do |f| %>
<div class="core-base-sheet">
  <div class="event-form-input-group">

    <div class="event-form-flyer-preview">
    </div>

    <% if @event.errors.any? %>
    <div class="paper-toast">
      <!-- todo: remind me to turn the ul into a .each loop that
           makes a separate paper toast for each error message, not
           a list of errors all on one paper toast.
      -->
      <p>
        <%= pluralize(@event.errors.count, "error") %> 
        prohibited this event from being saved:
      </p>

      <ul>
        <% @event.errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="core-input-and-label-pair flyer-upload">
      <%= label_tag(
            :flyer_url,
            'Flyer/Poster',
            class: "core-form-file-input-label",
            style: "font-family: 'Roboto', sans-serif;"
          ) %>
      <%= f.file_field :flyer_url %>
    </div>

    <!-- Need to figure out this one -->
    <% Category.all().each do |c| %>
        <div class="core-checkbox-and-label-pair">
          <div class="checkbox-wrapper-for-ripple">
            <%= check_box_tag(
                "event[categories][]",
                c.name,
                @event.categories.exists?(:name => c.name),
                {:class => "core-checkbox", :id => c.name} 
            )%>
          </div>
          <%= label_tag c.name, c.name, class: "core-checkbox-label" %>
      </div>
    <% end %>
  </div>

  <div class="core-right-primary-raised-sheet">
        
      <div class="core-text-field-and-label-pair">
        <%= f.label :name, class: "core-floating-label" %>
        <%= f.text_field :name, class: "core-form-text-input" %>
      </div>

      <div class="core-text-field-and-label-pair">
        <%= f.label :location, class: "core-floating-label" %>
        <%= f.text_field :location, class: "core-form-text-input" %>
      </div>

      <div class="core-date-and-label-pair">
        <%= f.label(
              :event_start,
              "Start time (EST)",
              class: "core-form-time-label"
        ) %>
        <%= f.datetime_select :event_start, {}, class: "core-date-select" %>
      </div>

      <div class="core-date-and-label-pair">
        <%= f.label(
              :event_end,
              "End time (EST)",
              class: "core-form-time-label"
        )%>
        <%= f.datetime_select :event_end, {}, class: "core-date-select" %>
      </div>

      <div class="core-text-field-and-label-pair">
        <%= f.label :summary, class: "core-floating-textarea-label" %>
        <%= f.text_area :summary, {
            :rows => 1,
            :class => "core-form-textarea"
        } %>
      </div>

      <div class="core-text-field-and-label-pair">
        <%= f.label :description, class: "core-floating-textarea-label" %>
        <%= f.text_area :description, {
            :rows => 1,
            :class => "core-form-textarea" 
        } %>
      </div>

      <div class="core-text-field-and-label-pair">
        <%= f.label :url, class: "core-floating-label" %>
        <%= f.text_field :url, class: "core-form-text-input" %>
      </div>

      <div class="core-input-and-label-pair">
        <%= f.label :organization, class: "core-form-small-label" %>
        <%= f.collection_select(
              :organization_id,
              current_user.organizations,
              :id,
              :name,
              {},
              class: "core-form-select"
            ) %>
      </div>
      <div class="event-form-action-group">
        <%= f.submit(nil, class: "paper-raised-button float-right") %>
      </div>

    </div>
  <% end %>
</div>
