<% content_for :title, "Events" %>

<div class="core-contents-height-base-sheet core-base-sheet-light-theme">
  <div class="paper-tab-group">
    <div class="paper-tab-base paper-tab-base-clicked"
         data-target-buttons="paper-category-button"
         data-hide-buttons="paper-time-category-button">
      Categories
    </div>
    <div class="paper-tab-base"
         data-target-buttons="paper-time-category-button"
         data-hide-buttons="paper-category-button">
      Times
    </div>
  </div>
  <div class="paper-button-group">
    <% Category.all().each do |c| %>
      <button class="paper-category-button clicked"
              data-toggle-class="not-clicked"
              data-curr-class="clicked" id="category-button-<%= c.id %>">
        <%= c.name %>
      </button>
    <% end %>
    <% Event.event_timebins().each do |time_symbol, display_name| %>
       <button class="paper-time-category-button clicked"
              data-toggle-class="not-clicked"
              data-curr-class="clicked" id="<%= time_symbol %>">
        <%= display_name %>
      </button>
    <% end %>
  </div>
  <% @events.each do |event| %>
    <%= render event %>
  <% end %>
</div>
