<% content_for :title, "Organizations" %>
<div class="core-contents-height-base-sheet 
            core-base-sheet-dark-theme
            pull-up" id="approval">

  <% if current_user.is_admin %>
    <%= button_to(
      'New Organization',
      new_organization_path,
      method: :get,
      class: "paper-raised-button"
    )%>
  <% end %>

  <ul class="events-card-grid-list">
	<% @organizations.each do |organization| %>
      <li class="reduce-margin paper-grid-card-base">
        <div class="paper-grid-card-main-content">
          <p class="paper-grid-card-title">
            <%= organization.name %>
          </p>
          <p class="paper-grid-card-subtitle">
            <%= organization.url %>
          </p>
        </div>
        <div class="paper-grid-card-action-area">
          <%= button_to(
              'View',
              organization_path(organization),
              method: :get,
              class: "paper-flat-button"
          )%>

          <% if current_user.is_admin or (
               current_user.is_org_leader and (
                 Organization.for_user(current_user).include?(organization))
          ) %>
            <%= button_to(
                'Edit',
                edit_organization_path(organization),
                method: :get,
                class: "paper-flat-button"
            )%>
          <% end %>

          <% if current_user.is_admin %>
          <%= button_to(
              'Delete',
              organization,
              confirm: 'Are you sure?',
              method: :delete,
              class: "paper-flat-button"
          )%>
          <% end %>
        </div>
      </li>
	<% end %>
  </ul>
</div>
