<% content_for :title, @organization.name %>
<div class="core-contents-height-base-sheet
            core-base-sheet-light-theme
            pull-up">

  <p class="paper-grid-card-title reduce-margin">Members</p>

  <% if !@organization.users.empty? %>
    <ul>
      <% @organization.users.each do |user| %>
	    <li class="core-form-label"><%= link_to user.name, user %></li>
	  <% end %>
    </ul>
  <% else %>
    (No Members)
  <% end %>

  <% if current_user.is_admin or (
       current_user.is_org_leader and (
         Organization.for_user(current_user).include?(@organization)
       )
     ) %>
    <p class="paper-grid-card-title reduce-margin">Update members</p>
    <p class="paper-grid-card-subtitle reduce-margin">
      Select all the members of your organization.
    </p>

    <%= form_for(@organization) do |f| %>

      <div class="paper-button-group">
        <%= collection_select(
            :organization,
            :user_ids,
            User.all,
            :id,
            :name,
            { :include_blank => '' },
            { :multiple => true },
        ) %>
      </div>


    <div class="actions">
      <%= f.submit class: "paper-raised-button" %>
    </div>
    <% end %>

  <% end %>

<p class="paper-grid-card-title reduce-margin">Events</p>

<% @organization.events.each do |e| %>
  <div class="paper-grid-card-base" style="margin-left: 8px;">

    <div class="paper-grid-card-main-content">
      <p class="paper-grid-card-title">
        <%= e.name %>
      </p>
      <p class="paper-grid-card-subtitle">
        <%= e.formatted_start_and_end_times %>
      </p>
      <p class="paper-grid-card-subtitle">
        <%= e.location %>
      </p>
    </div>

    <div class="paper-grid-card-action-area">
      <%= button_to(
          'view',
          event_path(e),
          method: :get,
          class: 'paper-flat-button'
      )%>
      <%= button_to('edit', 
          edit_event_path(e),
          method: :get,
          class: 'paper-flat-button'
      )%>
      <%= button_to(
          'delete',
          event_path(e),
          method: :delete,
          class: 'paper-flat-button'
      )%>
    </div>

  </div>
<% end %>
</div>
