<% content_for :title, @organization.name %>
<div class="container" id="approval">
<p id="notice"><%= notice %></p>
<h2>Members</h2>
<% if !@organization.users.empty? %>
<ul>
	<% @organization.users.each do |user| %>
	<li><%= link_to user.name, user %></li>
	<% end %>
</ul>
<% end %>
<h3>Update members</h3>
<%= form_for(@organization) do |f| %>
	<fieldset class="form-info">

  		<div class="field">
    		<%= f.label :users %>
    		<%= collection_select :organization, :user_ids, User.all, :id, :name, {:include_blank => ''},{ :multiple => true}%>
  		</div>

</fieldset>

  <div class="actions">
    <%= f.submit class: "paper-raised-button" %>
  </div>
<% end %>

<p class="core-heading">Events</p>

<% @organization.events.each do |e| %>
  <div class="paper-grid-card-base" style="margin-left: 8px;">

  <div class="paper-grid-card-main-content">
    <p class="paper-grid-card-title">
      <%= e.name %>
    </p>
    <p class="paper-grid-card-subtitle">
      <%= e.formatted_start_and_end_times %>
    </p>
    <p class="paper-grid-card-subtitle">
      <%= e.location %>
    </p>
  </div>

  <div class="paper-grid-card-action-area">
    <%= button_to(
        'view',
        event_path(e),
        method: :get,
        class: 'paper-flat-button'
    )%>
    <%= button_to('edit', 
        edit_event_path(e),
        method: :get,
        class: 'paper-flat-button'
    )%>
    <%= button_to(
        'delete',
        event_path(e),
        method: :delete,
        class: 'paper-flat-button'
    )%>
  </div>

</div>
<% end %>



<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>

</div>
