<div class="core-drawer-base">

  <!-- logo drawer header -->
  <div class="core-drawer-logo">
    <a href="/" class="link-no-decoration">
      <img src="/images/logo.png" alt="Teudu" id="teudu-logo">
    </a>
  </div>

  <hr class="core-drawer-menu-divider" />

  <!-- Events -->
  <div class="core-drawer-menu-subsection">
    <ul>
      <li class="core-drawer-menu-item" id="create-event-teudu">
        <div class="core-drawer-menu-item-icon">&#10133;</div>
        <span class="core-drawer-menu-item-label">
          <%= link_to "New Event", new_event_url %>
        </span>
      </li>
      <li class="core-drawer-menu-item" id="my-events-teudu">
        <div class="core-drawer-menu-item-icon">&#10084;</div>
        <span class="core-drawer-menu-item-label">
          <%= link_to "My Events", events_my_url %>
        </span>
      </li>
    </ul>
  </div>

  <!-- User Listings -->
  <div class="core-drawer-menu-subsection">
    <ul>
      <% if current_user.is_admin %>
        <li class="core-drawer-menu-item" id="list-users-teudu">
          <div class="core-drawer-menu-item-icon">&#10047;</div>
          <span class="core-drawer-menu-item-label">
            <%= link_to "Manage Users", users_url %>
          </span>
        </li>
      <% else %>
        <li class="core-drawer-menu-item" id="list-users-teudu">
          <div class="core-drawer-menu-item-icon">&#10047;</div>
          <span class="core-drawer-menu-item-label">
            <%= link_to "My Profile", user_url(current_user) %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- Organizations -->
  <div class="core-drawer-menu-subsection">
    <ul>
      <li class="core-drawer-menu-item" id="browse-organizations-teudu">
        <div class="core-drawer-menu-item-icon">&#9730;</div>
        <span class="core-drawer-menu-item-label">
          <%= link_to "Organizations", organizations_url %>
        </span>
      </li>
    </ul>
  </div>

  <!-- Categories -->
  <% if current_user.is_org_leader or current_user.is_admin or current_user.is_developer %>
  <div class="core-drawer-menu-subsection">
    <ul>
      <li class="core-drawer-menu-item" id="manage-categories-teudu">
        <div class="core-drawer-menu-item-icon">&#9733;</div>
        <span class="core-drawer-menu-item-label">
          <%= link_to "Categories", categories_url %>
        </span>
      </li>
    </ul>
  </div>
  <% end %>

  <!-- Event Approval -->
  <% if current_user.is_org_leader or current_user.is_admin %>
  <div class="core-drawer-menu-subsection">
    <ul>
      <li class="core-drawer-menu-item" id="approve-events-teudu">
        <div class="core-drawer-menu-item-icon">&#10003;</div>
        <span class="core-drawer-menu-item-label">
          <%= link_to "Approval", approval_url %>
        </span>
      </li>
    </ul>
  </div>
  <% end %>

  <hr class="core-drawer-menu-divider" />

  <!-- About -->
  <div class="core-drawer-menu-subsection">
    <ul>
      <li class="core-drawer-menu-item" id="about-teudu">
        <div class="core-drawer-menu-item-icon">&#65311;</div>
        <span class="core-drawer-menu-item-label">
          <%= link_to "About", about_url %>
        </span>
      </li>
    </ul>
  </div>

  <!-- Developer Portal -->
  <div class="core-drawer-menu-subsection">
    <ul>
      <li class="core-drawer-menu-item" id="developer-portal">
        <div class="core-drawer-menu-item-icon">@</div>
        <span class="core-drawer-menu-item-label">
          <%= link_to "Developer Portal", developer_url %>
        </span>
      </li>
    </ul>
  </div>


</div>
