<!DOCTYPE html>
<html>
  <head>
    <title>Teudu | Hands-on Event Discovery</title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/nav_drawer" %>
    <!-- placeholder class has no associated styles -->
    <div class="placeholder-everything-else-container"> 
      <div class="core-header">
        <h1 class="core-header-title"><%= yield(:title) %></h1>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>

    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
