<% content_for :title, "Manage Category Preferences" %>
<div class="core-contents-height-base-sheet
            core-base-sheet-light-theme
            pull-up">
  <!-- my category preferences -->
  <p class="core-subheading">My Category Preferences</p>
  <% @category_preferences.each do |cat_pref| %>
    <%= render 'category_preference', :cat_pref => cat_pref %>
  <% end %>

  <!-- create a new category preference -->
  <p class="core-subheading">Create a New Category Preference Set</p>

  <%= form_for :category_preference do |f| %>
  <div class="paper-grid-card-dark-theme-base small-medium-width">
    <div class="core-input-and-label-pair">
      <%= f.label :name, class: "core-floating-label" %>
      <%= f.text_field :name, class: "core-form-text-input" %>
    </div>

    <div class="core-input-and-label-pair">
      <%= f.label :description, class: "core-floating-label" %>
      <%= f.text_field :description, class: "core-form-text-input" %>
    </div>
  </div>

  <div class="core-helpers-invisible-container">
    <p class="paper-grid-card-subtitle expand-margin">
      Select some categories for the new category preference set:
    </p>
    <!-- Category Selection -->
    <% Category.all().each do |c| %>
      <div class="core-checkbox-and-label-pair">
        <div class="checkbox-wrapper-for-ripple">
          <%= check_box_tag(
              "category_preference[categories][]",
              c.name,
              false,
              {:class => "core-checkbox", :id => c.name} 
          )%>
        </div>
          <%= label_tag(
            c.name,
            truncate(c.name, :length => 20),
            class: "core-checkbox-label"
          ) %>
      </div>
    <% end %>
  </div>

  <%= f.submit class: "paper-raised-button expand-margin" %>
<% end %>


</div>
